html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
:root{
    --orange-color:#FF5B00;
    --menu-text-color:#7B3000;
    --standard-text-color:#151515;
    --base-color:#F4F4F4;
    --night-text-color: #FFDDC8;
}
body{
    font-family: Quicksand,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--base-color);
 }
ul{
    list-style: none
}
a{
    text-decoration: none;
    color: var(--orange-color);
}
.container{
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 30px;
}
.header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 60px;
    color: var(--orange-color);
}
.header__logo-link{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
}
.logo-icon{
    width: 40px;
    height: 35px;
}
.header__nav{
    flex-basis: 50%;
    flex-shrink: 2;

    margin-top: 20px;
}
.nav{
    display: flex;
    justify-content: space-evenly;

    font-weight: 700;
    font-size: 22px;

}
.main-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.main-content__left-part{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content__heading{
    font-weight: 600;
    font-size: 86px;
    line-height: 120px;
    color: var(--orange-color);

    margin-bottom: 65px;
}
.main-content__text{
    font-weight: 600;
    font-size: 36px;

    text-transform: capitalize;
    color: var(--menu-text-color);

    margin-bottom: 65px;
}
.main-content__location{
    display: flex;
    justify-content: flex-start;

    margin-bottom: 65px;
}
.location__input{
    border: 2px solid var(--orange-color);
    border-radius: 4px;
}
.location__btn{
    width: 150px;
    border-radius: 4px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    margin-left: 20px;
}
.button-try{
    width: 135px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--orange-color);
    color: var(--base-color);
    border: none;
    border-radius: 5px;
}

.main-content__right-part{
    position: relative;
    flex-basis: 45%;
}
.main-content__img-wrapper{
    max-width: 500px;
}
.main-content__img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
}
.button-mode{
    position: absolute;
    bottom: -10px;
    right: 150px;
    background-color: var(--base-color);
    border: none;
}
.button-mode .bth__icon{
    width: 60px;
    height: 60px;
}

/* Menu styles */
.menu-page{
    position: relative;
    margin-bottom: 60px;
}
.menu-page__title{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
}
.menu-page__heading{
    font-family: cursive;
    font-weight: 400;
    font-size: 102px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--orange-color);
}
.menu-page__content{
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    line-height: 1.4;

    display: flex;
    justify-content: space-around;

    color: var(--menu-text-color);
}
.menu__thumb{
    position: relative;
    top: -50px;
    left: -95px;
    max-width: 300px;
}
.menu__img{
    width: 100%;
}
.menu__heading {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
}
.menu__slice-select:last-child{
   margin-top: 40px;
}
.menu__slice li{
    margin-top: 5px;}

.pizza-type__block{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.menu-page__button{
    display: inline-block;
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--orange-color);
    color: #fff;

    font-size: 15px;
    text-transform: capitalize;

    position: absolute;
    bottom: 250px;
    right: 100px;
}

/* Contact us */
.contacts{
    display: flex;
    justify-content: flex-end;

    font-size: 21px;
    color: var(--standard-text-color);
    text-align: center;

    background-image: url(../img/Capcicum.png), url(../img/Clover.png), url(../img/Gobi.png), url(../img/Haldi.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right, center;
    background-size: 300px, 500px, 500px, 500px;
}
.contacts__form{
    max-width: 500px;
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 10px 19px 30px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;

    border-radius: 10px;
    margin-right: 80px;
    padding-bottom: 100px;
}
.form__date{
    width: 234px;
}
.contacts__form-header{
    padding: 40px 80px;
}
.contacts__heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: var(--orange-color);
    text-transform: uppercase;
}
.contacts__info{
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 10px;
}
.contacts__input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.contacts__btn{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    background-color: var(--orange-color);
    border-radius: 5px;
    border-style: none;
    margin-top: 40px;
    padding: 5px 10px;
}

/* Modal window */
.modal {
    height: 250px;
    width: 500px;
    background: rgb(248, 244, 244, .5);
    position: absolute;
    top: 50px;
    left: 500px;
}
.modal__img{
    width: 100%;
}
.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 22px;
}
.hide{
	display: none!important;
}

/* Footer */
.footer-section {
    height: 80px;
    margin-top: 60px;
    text-align: center;
}

.footer-section__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;
    color: var(--menu-text-color);
    margin-bottom: 5px;
}

.footer-section__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 20px;
    background-color: var(--orange-color);
}

.footer-section__item {
    width: 20px;
    height: 20px;
    fill: var(--base-color);
}