html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
:root{
    --orange-color:#FF5B00;
    --night-orange-color:#FF8C42;
    --night-text-color: #FFDDC8;
    --menu-text-color:#7B3000;
    --standard-color:#151515;
    --base-color:#F4F4F4;
}
body{
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--base-color);
    color: var(--menu-text-color);
 }
ul{
    list-style: none
}
a{
    text-decoration: none;
    color: var(--orange-color);
}

.container{
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 30px;
}
.header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
    color: var(--orange-color);
}
.header__logo-link{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
}
.logo-icon{
    width: 40px;
    height: 35px;
}
.header__nav{
    flex-basis: 50%;
    flex-shrink: 2;

    margin-top: 20px;
}
.nav{
    display: flex;
    justify-content: space-evenly;

    font-weight: 700;
    font-size: 22px;

}
.main-content{
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.main-content__left-part{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-content__heading{
    font-weight: 600;
    font-size: 86px;
    line-height: 120px;
    color: var(--orange-color);
}
.main-content__text{
    font-weight: 600;
    font-size: 36px;

    text-transform: capitalize;
    color: var(--menu-text-color);
}
.main-content__location{
    display: flex;
    justify-content: flex-start;
}
.location__input{
    border: 2px solid var(--orange-color);
    border-radius: 4px;
}
.location__btn{
    width: 150px;
    border-radius: 4px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    margin-left: 20px;
}
.button-try{
    width: 135px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--orange-color);
    color: var(--base-color);
    border: none;
    border-radius: 5px;
}

.main-content__right-part{
    position: relative;
    flex-basis: 45%;
}
.main-content__img-wrapper{
    margin-top: 80px;
    max-width: 500px;
}
.main-content__img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
}
.button-mode{
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: var(--base-color);
    border: none;
}
.button-mode .bth__icon{
    width: 60px;
    height: 60px;
}

/* Menu styles */
.menu-page{
    height: 100vh;
    position: relative;
    margin-bottom: 60px;
}
.menu-page__title{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
}
.menu-page__heading{
    font-family: cursive;
    font-weight: 400;
    font-size: 102px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--orange-color);
}
.menu-page__content{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    line-height: 1.4;

    display: flex;
    justify-content: space-around;
}
.menu__thumb{
    position: relative;
    top: -50px;
    left: -95px;
    max-width: 300px;
}
.menu__img{
    width: 100%;
}
.menu__heading {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
}
.menu__slice-select:last-child{
   margin-top: 40px;
}
.menu__slice li{
    margin-top: 5px;}
.pizza-type{
    position: relative;
}
.pizza-type__block{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}
.pizza-type__button{
    display: inline-block;
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--orange-color);
    color: #fff;

    font-size: 15px;
    text-transform: capitalize;

    position: absolute;
    bottom: 250px;
    right: 100px;
}

/* Contact us */
.contacts{
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    font-size: 21px;
    color: var(--standard-color);
    text-align: center;

    background-image: url(../img/Clover.png), url(../img/Capcicum.png), url(../img/Haldi.png), url(../img/Gobi.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left, top, bottom center, bottom right;
    background-size: 440px, 400px, 400px, 300px;
}
.contacts__form{
    max-width: 500px;
    height: 550px;
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 10px 19px 30px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;

    border-radius: 10px;
    margin:  80px 80px 0 0;
    padding-bottom: 100px;
}
.form__date{
    width: 220px;
}
.contacts__form-header{
    padding: 40px 80px;
}
.contacts__heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: var(--orange-color);
    text-transform: uppercase;
}
.contacts__info{
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 10px;
}
.contacts__input{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.error{
    display: inline-block;
    width: 220px;
    position: absolute;
    bottom: -16px;
    right: 22px;
    font-weight: bold;
    font-size: 15px;
    color: red;
}
.contacts__btn{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    background-color: var(--orange-color);
    color: var(--standard-color);
    border-radius: 5px;
    border-style: none;
    margin-top: 40px;
    padding: 5px 10px;
}

/* accordion order section */
.accordion-item {
    background-color: #D9D9D9;
    color: #1E1E1E;
    border: 1px solid var(--orange-color);
    padding: 25px 40px;
    cursor: pointer;
    position: relative
}

.accordion-item__btn{
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 1.5rem;
    right: 10px;
    opacity: 0.8;
}
.first-btn {
    top: 2.5rem;
}
.accordion-item__btn::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://svgshare.com/i/723.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.order{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url(/img/Pizza-slice.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 350px;
}
.order__accordion {
    width: 50%;
    margin: 20px auto;
}
.order__account::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(../img/icon_User.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: black;
}
.order__address::before{
    content:"";
    position: absolute;
    top: 10px;
    left: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #1E1E1E;
    border-radius: 50%;
    display: block;
    height: 50px;
    background-image: url(../img/icon_Alternate.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #1E1E1E;
}
.order__payment::before{
    content:"";
    position: absolute;
    top: 10px;
    left: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #1E1E1E;
    border-radius: 50%;
    display: block;
    height: 50px;
    background-image: url(../img/icon_CreditCard.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #1E1E1E;
}
.order__content {
    width: 100%;
    margin: auto;
    height: 100px;
    overflow: hidden;
    background-color: var(--base-color);
}
.registration{
    display: inline-block;
    width: 150px;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
}
.hide {
    height: 0px;
}
.rotate {
    transform: rotate(-90deg);
    transition: .5s;
}
/* Order form */
.order__form{
    width: 40%;

    font-weight: 700;
    line-height: 1.25;
    color: #1E1E1E;
}
.form__block{
    height: 600px;
    width: 400px;
    background: rgba(217, 217, 217, 0.59);
    box-shadow: 10px 19px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 10px;
}
.form__block > div{
    margin-bottom: 20px;
}
.form__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form__heading{
    font-size: 32px;
}
.form__subheading{
    font-size: 16px;
}
.form__img{
    width: 120px;
}
.form__img > img{
    opacity: 100%;
}
/* Modal window */
.modal {
    height: 250px;
    width: 500px;
    background: rgb(248, 244, 244, .5);
    position: absolute;
    top: 50px;
    left: 500px;
}
.modal__img{
    width: 100%;
}
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: red;
}
.hide{
	display: none!important;
}

/* Footer */
.footer-section {
    height: 80px;
    margin-top: 50px;
    text-align: center;
}

.footer-section__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;
    color: var(--menu-text-color);
    margin-bottom: 5px;
}

.footer-section__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 20px;
    background-color: var(--orange-color);
}

.footer-section__item {
    width: 20px;
    height: 20px;
    fill: var(--base-color);
}
/* night mode */
.night {
    background-color: var(--standard-color);
    color: var(--night-text-color);
}
.night-orange{
    color: var(--night-orange-color)!important;
}
.night-form{
    background: rgba(255, 255, 255, 0.05);
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
}
/* Smooth scroll */
@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}
/* modal styles */
.swal2-popup {
    font-family: "Quicksand", sans-serif;
    background-color: var(--base-color);
}

.swal2-confirm{
    background-color: var(--orange-color)!important;
}
